# MySQL
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_DB=

# JWT
JWT_SECRET=

# Frontend URL
FRONTEND_URL=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_KEY=
STRIPE_WEBHOOK_KEY=

# Environment
NODE_ENV=development